
* {
  box-sizing: border-box;
}

body {
  /* shade the window from Celadon (#AFE1AF) to Cadmium Green (#097969) */
  background: linear-gradient(.25turn, #AFE1af, 50%, #097969);
  
}

input {
  /* shade the input from Celadon (#AFE1AF) to Cadmium Green (#097969) */
 background: linear-gradient(.25turn, #AFE1af, 50%, #097969);
}

input::placeholder{
  /* add a white shadow to make default text easier to read */
  text-shadow: white 0 0 5px;
}

.search-container {
  width: 200px;
  margin: auto;
  margin-top: 20%;
  
}
.search-container input,
.search-container .suggestions {
  /* not used */

}
.search-container input {
 /* not used */
 
}
.search-container .suggestions {
   /* not used */
}

ul {
  list-style-type: none;
  margin: inherit;
  padding-left: 0;
  background: linear-gradient(.25turn, #AFE1af, 50%, #097969);

}
ul.has-suggestions {
  /* not used */
}
ul li {
  /* not used */
  

}
ul li:hover {
  background: #98FB98;
  display: block;
}
